:root {
  --bg-color: rgb(51, 28, 28);
  --txt: white;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--txt);
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10vh 30vh 12vh 32vh 10vh 6vh;
  grid-template-areas:
    '. nav'
    'rover image'
    'sol image'
    'cam image'
    'go image'
    'footer footer';
}

#criteria {
  padding: 0 0 0 3%;
  z-index: 3;
  margin: auto;
  background: pink;
  list-style: none;
  text-align: center;
  display: flex;
  width: 90%;
}

#criteria li {
  text-align: center;
  margin: auto;
}

#pageTitle {
  grid-area: nav;
  text-align: center;
}

.rover {
  grid-area: rover;
  background: lightgrey;
  padding: 0 0 0 3%;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    'id label'
    'id icon';
}

#roverId {
  grid-area: id;
  align-self: center;
}

.roverLabel {
  grid-area: label;
  align-self: end;
  justify-self: start;
  margin: 0 0 0 20%;
}

#roverIcon {
  grid-area: icon;
  margin: 3% 0 0 16%;
}

.rover input:hover,
.rover input:focus {
  background-color: rgb(219, 219, 219);
  border: 1px rgb(36, 154, 190) solid;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgb(36, 154, 190);
}

.sol {
  grid-area: sol;
  background: grey;
  padding: 0 0 0 3%;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'id state'
    'id input';
  align-items: center;
}

#solId {
  grid-area: id;
  align-self: start;
}

#solState {
  grid-area: state;
  margin: 0.6em 2em 0 2em;
  justify-self: start;
  text-align: center;
  /* border: 1px solid white; */
  width: 50%;
}

#solState button {
  margin: 0 1.5em;
  background-color: darkgrey;
  border: none;
  color: white;
  font-size: 0.1em;
  border-radius: 5px;
}

#solSelect {
  grid-area: input;
  width: 100%;
  margin: 0 1em;
}

.cam {
  grid-area: cam;
  background: lightgrey;
  /* margin: auto; */
  padding: 0 0 0 3%;
  display: grid;
  grid-template-columns: .3fr .7fr;
  align-items: center;
}

.cam input {
  margin: 0 1em;
  height: 2em;
}

.go {
  grid-area: go;
  background: grey;
  text-align: center;
  position: relative;
}

.go button {
  font-size: 2em;
  background: whitesmoke;
  position: relative;
  top: 20%;
  height: 60%;
  width: 80%;
}

.image {
  grid-area: image;
  border: 5px solid white;
  width: 100%;
  height: 100%;
  background: red;
  padding: 0;
  overflow: hidden;
}

#imgWrapper {
  padding: 0;
  margin: 0;
  background: pink;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.2fr 3fr 0.2fr;
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-areas: 'thumbs . hero .';
}

#photoMain {
  grid-area: hero;
  place-self: center;
  object-fit: scale-down;
  background-color: lime;
  width: 100%;
  max-height: 100%;
}

#photoMain img {
  width: 100%;
}

#thumbWrapper {
  grid-area: thumbs;
  overflow: scroll;
}

#thumbWrapper ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: rgba(255, 255, 0, 0.315);
  margin: auto;
  text-align: right;
  padding: 0;
}

#thumbWrapper li {
  flex: 1;
  text-decoration: none;
  padding: 2px 0;
  border: solid yellow 1px;
}

#thumbWrapper li img {
  min-height: 10vh;
  max-height: 15vh;
}

.footer {
  grid-area: footer;
  background: rgba(0, 0, 0, 0.329);
  text-align: center;
}
