:root {
  --bg-color: rgb(51, 28, 28);
  --txt: white;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--txt);
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10vh repeat(4, 20vh) 10vh;
  grid-template-areas:
    'nav nav'
    'rover image'
    'sol image'
    'cam image'
    'go image'
    'footer footer';
}

#pageTitle {
  grid-area: nav;
  text-align: center;
}

.rover {
  grid-area: rover;
  background: lightgrey;
  padding: 2em;
  text-align: center;
}

.sol {
  grid-area: sol;
  background: grey;
  padding: 2em;
  text-align: center;
}

.cam {
  grid-area: cam;
  background: lightgrey;
  padding: 2em;
  text-align: center;
}

.go {
  grid-area: go;
  background: grey;
  padding: 2em;
  text-align: center;
}

.image {
  grid-area: image;
  border: 1px solid white;
  margin: 0;
}

.image img {
  width: 100%;
}

.footer {
  grid-area: footer;
  background: rgba(0, 0, 0, 0.329);
  text-align: center;
}
